<header>
  {{#if showContent}}
    <h3 id={{post.id}}>{{post.title}}</h3>
  {{else}}
    <h3><a href="{{href-to "updates"}}#{{post.id}}">{{post.title}}</a></h3>
  {{/if}}
    <div class="date">{{moment-format post.date (get (t 'human-date-format') "string")}}</div>
</header>

{{#if showSummary}}
  <div class="content summary">
    {{{post.summary}}}
  </div>
  {{#if hasReadMore}}
    <a href="{{href-to "updates"}}#{{post.id}}" class="read-more">{{t "Read More"}}</a>
  {{/if}}
{{else if showContent}}
  <div class="content">{{{body}}}</div>
{{/if}}