<div class="day-card">
  <header>
    <em class="{{event.framework}} day-logo col-md"></em>
    <h3 class="title col-md">
      <strong>{{event.framework}}</strong>
      Contributor Days
    </h3>
  </header>
  <p>
    {{moment-format event.date 'MMM Do, YYYY'}}
    <br>
    {{event.location}}
  </p>
  <footer>
    <a href="{{event.apply}}" class="button action-button" target="_blank">
      Apply
    </a>
    {{#if event.location}}
      {{#link-to 'contributor-day' event.slug class="button"}}
        + info
      {{/link-to}}
    {{/if}}
  </footer>
</div>
