<section class="container framework-info">
  <header class="framework-header">
    <div class="col-md-6 logo-wrap">
      <em class="{{model.framework}} day-logo col-md-4"></em>
      <h2 class="title col-md-8">
        <strong>{{model.framework}}</strong>
        {{t "Contributor Day"}}
      </h2>
    </div>
    <div class="col-md-3 framework-meta">
      {{moment-format model.date (get (t 'human-date-format') "string")}}
    </div>
    <div class="col-md-3 framework-meta">
      {{model.location}}
    </div>
  </header>

  {{#if model.video}}
    <div class="row framework-intro">
      <div class="col-lg-3">
        {{#if model.body}}
          {{{model.body}}}
        {{else}}
          <p>{{t "contributor-day.purpose"}}</p>
        {{/if}}
      </div>
      <div class="col-lg-9">
        {{lazy-video class="video-wrapper" url=model.video.url width="560" height="315"}}
      </div>
    </div>
  {{/if}}
</section>

<section class="container framework-sign-up">
  <div class="row">
    <div class="col-md-8">
      <h2>Sign up</h2>
      <p>
        Sign up to {{model.title}} to be notified of upcoming events, updates and videos.
      </p>
      <form class="" action="index.html" method="post" class="row">
        <div class="col-lg-3 col-md-6">
          <label>Name</label>
          <input type="text" name="" value="" class="input-text">
        </div>
        <div class="col-lg-3 col-md-6">
          <label>Email</label>
          <input type="text" name="" value="" class="input-text">
        </div>
        <div class="col-lg-3 col-md-6">
          <label>Company</label>
          <input type="text" name="" value="" class="input-text">
        </div>
        <div class="col-lg-3 col-md-6 signup-button">
          <label>.</label>
          <button type="submit" class="button">
            Sign up
          </button>
        </div>
      </form>
    </div>
    {{#if (and model.apply isFuture)}}
      <div class="col-md-4">
        <h2>Apply</h2>
        <p>Aplications are open for {{model.title}} contributor days. Apply now!</p>
        <p>
          <a href="{{model.apply}}" target="_blank" class="button action-button">
            Apply
          </a>
        </p>
      </div>
    {{/if}}
  </div>

</section>

{{#if model.videos}}
  {{!videos-list
    title="Talks and discussions"
    tagName="section"
    class="videos-list container"
    videos=model.videos
    playlist=model.playlist
  }}
  <section class="container videos-list">
    <h2>Talks and discussions</h2>
    <div class="row">
      {{#each model.videos as |video|}}
        <div class="col-lg-4 col-md-6 video-card">
          {{lazy-video class="video-wrapper" url=video.url width="560" height="315"}}
          <h3>{{video.title}}</h3>
        </div>
      {{/each}}
    </div>
  </section>
{{/if}}

{{#if leads}}
  <section class="container framework-people">
    <h2>
      Leads
    </h2>
    <div class="row leads-list">
      {{#each leads as |lead|}}
        {{person-card person=lead class="col-md-3"}}
      {{/each}}
    </div>
  </section>
{{/if}}

{{#if attendees}}
  <section class="container framework-people">
    <h2>
      Attendees
    </h2>
    <div class="row attendees-list">
      {{#each attendees as |attendee|}}
        {{person-card person=attendee class="col-md-3"}}
      {{/each}}
    </div>
  </section>
{{/if}}
