<header class="app-header">
  <div class="container">
    <div class="row">
      <div class="titles col-md-4">
        <h1>
          {{#link-to 'index'}}Contributor Days{{/link-to}}
        </h1>
        <p>
          Make open source, not war.
        </p>
      </div>
      <div class="col-md-7 push-lg-1">
        {{terminal-prompt commands=model.commands}}
      </div>
    </div>
  </div>
</header>

{{outlet}}

<section class="container framework-info">
  <header class="framework-header">
    <div class="col-md-6 logo-wrap">
      <em class="{{model.event.framework}} day-logo col-md-4"></em>
      <h2 class="title col-md-8">
        <strong>{{model.event.framework}}</strong>
        Contributor Days
      </h2>
    </div>
    <div class="col-md-3 framework-meta">
      {{moment-format model.event.date 'MMM Do, YYYY'}}
    </div>
    <div class="col-md-3 framework-meta">
      {{model.event.location}}
    </div>
  </header>

  <div class="row framework-intro">
    <div class="col-lg-3">
      <p>
        Contributor Days strives to create stronger relationships and focus in the existing community while providing an opportunity for other developers who may not have contributed to the specific project a chance to explore new opportunities.
      </p>
    </div>
    <div class="col-lg-9">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VBXMso56Ovw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="container framework-videos-list">
  <h2>
    Talks and discussions
  </h2>
  <div class="row">
    <nav class="col-lg-3">
      <a href="#">
        RxJS 5+ and Beyond Talk by Ben Lesh
      </a>
      <a href="#">
        RxJS 5 Operator Architecture Talk by Paul Taylor
      </a>
      <a href="#" class="active">
        1 Operator Philosophy and Versioning
      </a>
      <a href="#">
        2 Size &amp; Modularity vs Ergonomics vs Performance
      </a>
      <a href="#">
         3 Breaking Changes &amp; Communication
      </a>
      <a href="#">
        4 Zone.js Integration
      </a>
      <a href="#">
        5 Helping newbies understand value of Rx
      </a>
      <a href="#">
        6 Debugger
      </a>
      <a href="#">
        7 Standardization
      </a>
      <a href="#">
        8 Reducing Beginner Pain
      </a>
    </nav>
    <div class="col-lg-9">
      <div class="video-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1JKpmJf_BGU?list=PL-G5r6j4GptEDVrYv140S9PRJZfeFmZoM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>


<section class="container framework-people">
  <h2>
    Leads
  </h2>
  <div class="row leads-list">
    {{#each leads as |lead|}}
      {{person-card person=lead class="col-md-3"}}
    {{/each}}
  </div>
</section>

{{#if attendees}}
  <section class="container framework-people">
    <h2>
      Attendees
    </h2>
    <div class="row attendees-list">
      {{#each attendees as |attendee|}}
        {{person-card person=attendee class="col-md-3"}}
      {{/each}}
    </div>
  </section>
{{/if}}
